<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if title %}{{ title }}{% else %}Xander Dunn{% endif %}</title>
    <meta name="description" content="{{ description or 'Xander Dunn personal homepage and essays.' }}">
    <meta property="og:title" content="{{ title or 'Xander Dunn' }}">
    <meta property="og:description" content="{{ description or 'Xander Dunn personal homepage and essays.' }}">
    <meta property="og:type" content="{% if tags and 'essay' in tags %}article{% else %}website{% endif %}">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" href="/assets/site/favicon.png">
    <link rel="apple-touch-icon" href="/assets/site/apple-touch-icon.png">
    <link rel="stylesheet" href="/assets/site.css">
  </head>
  <body>
    {{ content | safe }}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
